@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Nanum+Myeongjo:wght@800&family=News+Cycle&family=Old+Standard+TT:wght@700&family=Prata&family=Rajdhani:wght@300&family=Shadows+Into+Light&family=Slabo+27px&family=Solitreo&family=Tajawal&display=swap');

:root {
  --primary-color: #3066BE;
  --secondary-color: #119DA4;
  --tertiary-color: #80DED9;
  --default: #000000;
  --heading-font: 'Rajdhani', sans-serif;
  --body-font: 'Tajawal', sans-serif;
  --link-font: 'Cormorant Garamond', serif;
}

@media only screen and (min-width: 40em) {

  body {
    background-color: var(--primary-color);
    font-family: var(--body-font);
  }

  h1,
  h2 {
    text-align: center;
    color: var(--default);
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.1em;
    max-width: 90%;
    margin: 0 auto;
    background-color: var(--default);
  }

  nav .menu-item {
    font-family: var(--link-font);
    text-decoration: none;
    color: #fff;
    padding: 2rem;
  }

  nav .menu-item:hover {
    color: var(--tertiary-color);
  }

  #ham-menu {
    display: none;
  }

  h1,
  h2,
  h3 {
    font-family: var(--heading-font);
  }

  a {
    font-family: var(--link-font);
  }


  .main {
    max-width: fit-content;
    margin: 0 auto;
  }

  .banner {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
  }

  .banner img {
    max-width: 100%;
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .banner a {
    margin: auto;
    color: #000;
    grid-column: 1/1;
    grid-row: 1/1;
    background-color: aqua;
    padding: 5px;
    text-decoration: none;
    border-radius: 10%;
    opacity: 0.6;
  }

  .banner a:hover,
  a:active {
    opacity: 1;
  }

  .container {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .container-item {
    margin: 0.2rem 0rem;
    padding: 5px;
    background-color: var(--tertiary-color);
  }

  .container-item:first-child {
    border-right: var(--secondary-color) 2px solid;
  }

  .container1 {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .container1-item {
    background-color: aquamarine;
    padding: 5px;
    border: #000000 2px solid;
    box-shadow: #fff 2px;
  }

  .container1-item h3 {
    border-bottom: var(--secondary-color) 2px solid;
  }

  footer {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--default);
    color: var(--tertiary-color);
    padding: 0.3rem;
    margin: 0 auto;
    margin-top: 0.5rem;
  }

  .foot {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .foot address {
    border-right: 2px solid var(--secondary-color);
    padding: 0.5rem;
  }

  .foot section {
    padding: 0.5rem;
  }

  /* CSS for discover page */
  .main-content {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% auto;
    margin-top: 1rem;
    gap: .15rem;
  }

  .main-content main {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main-content main picture {
    margin: .5rem;
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-content main picture img {
    opacity: 0.5;
    max-width: 100%;
  }

  .main-content main picture img:hover {
    opacity: 1;
  }

  .main-content aside {
    background-color: var(--default);
    color: var(--tertiary-color);
  }

  .main-content .socials {
    background-color: #119DA4;
    display: flex;
    flex-direction: column;
  }

  .socials picture {
    margin: 0 auto;
    padding: .2rem;
  }

  .main-content section {
    margin: 0.5rem;
    border: 2px solid var(--default);
  }

  /*css for join */
  /* ---------- FORM -------------*/
  form {
    max-width: 80%;
    margin: 0 auto;
  }

  form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--default);
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: var(--secondary-color);
  }

  form legend {
    color: var(--default);
    background-color: var(--tertiary-color);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5em;
  }

  form label.top,
  form div {
    display: block;
    padding-top: 1rem;
    color: var(--default);
  }

  form label.top input,
  form label.top textarea,
  form label.top select {
    --webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: var(--default);
    width: 100%;
    max-width: 20rem;
    background-color: #999;
  }

  form label.sbs {
    display: block;
    padding: .75rem 0;
    color: var(--default);
    font-size: 1.2em;
  }

  form input.submitBtn {
    border: none;
    background-color: var(--secondary-color);
    color: var(--default);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 90%;
    max-width: 20rem;
    font-size: 1rem;
  }

  form label.top input:required {
    border-left: red solid 6px;
  }

  form label.top input:required:valid {
    border-left: green solid 6px;
  }

  .membership-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
  }

  .membership1 {
    max-width: 25rem;
    border: #555 2px solid;
    border-radius: 5%;
    padding: .18rem;
    background-color: goldenrod;
  }

  .membership2 {
    max-width: 25rem;
    border: #555 2px solid;
    border-radius: 5%;
    padding: .18rem;
    background-color: silver;
  }

  .membership3 {
    max-width: 25rem;
    border: #555 2px solid;
    border-radius: 5%;
    padding: .18rem;
    background-color: brown;
  }

  .membership4 {
    max-width: 25rem;
    border: #555 2px solid;
    border-radius: 5%;
    padding: .18rem;
    background-color: skyblue;
  }

  /*thank you CSS*/
  .thanks {
    height: 17.5rem;
  }

  .thank-you {
    background-color: #fff;
    padding: 0.5rem;
  }

  /*directory css */
  .menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bbb;
    text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    border: var(--default) 3px solid;
    box-shadow: 0 0 50px #777;
  }

  .cards section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards section img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
  }

  .list {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: 0 auto;
  }

  .list section {
    display: grid;
    grid-template-columns: 25% auto;
    margin: 0;
    padding: 0.25rem;
  }

  .list section>* {
    margin: 0 1rem;
  }

  .list section ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .list section ul li {
    margin: 2px;
    max-width: 20vh;
    padding: 0px 5px;
  }

  .list section ul li:nth-child(even) {
    border-left: #000 2px solid;
  }

  .list section ul li:nth-child(odd) {
    border-left: #000 2px solid;
  }

  .list section img {
    display: none;
    /* smaller viewports only */
  }

  .list section h2 {
    font-size: 1rem;
    margin-top: 2em;
    font-style: italic;
  }

  .list section:nth-child(even) {
    background-color: #bed;
  }

  .list section:nth-child(odd) {
    background-color: #fff;
  }

}