@media only screen and (min-width: 40rem) {

  /* beginning of media query */
  nav {
    flex-direction: row-reverse;
  }

  .container {
    grid-template-columns: 1fr 1fr;
  }

  header img {
    max-height: 150%;
    margin-top: -28px;
  }

  /* end of media query */
}