@media screen and (max-width: 600px) {
  .container {
    display: block;
  }

  nav {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  header {
    float: none;
  }

  header img {
    max-width: 80%;
  }
}